html{
	height:100%;
	background-color:#000000;
}

body{
	height:100%;
	margin:0;
	padding:0;
	background-color:#000000;
	overflow: hidden;	
	text-shadow:0 0 1px rgba(0,0,0,0.01)
}


a:link{
	color:#666666;
	text-decoration: none;
	font-weight: bold;
}

a:visited{
	color:#666666;
	text-decoration: none;
	font-weight: bold;
}

a:hover{
	color:#ffffff;
	text-decoration: none;
	font-weight: bold;
}

svg{
	margin:0;
	padding:0;
}


.textColor1	{ color:#ffffff }
.textColor2	{ color:#666666 }
.textColor3	{ color:#333333 }
.themeColor	{ color:#ffffff }
.subColor1	{ color:#dd0000 }
.subColor2	{ color:#118888 }

header{
	position: fixed;	
	top: 30px;
	left: 30px;
	z-index:1;
}

header>h1{
	font: 18px/18px "MisoRegular", Verdana, sans-serif;
	text-transform: uppercase;
	text-indent: 3px;
	margin-left: -3px;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

div#content_info{
	position: fixed;
	top:0px;
	left:195px;
/*	border-left: 1px solid rgba(255,255,255,0.2);*/
	width:300px;
	height:128px;
	overflow: visible;
	z-index:1;
}

nav{
	padding: 30px 0px 21px 5px;
	overflow: visible;
}

nav>ul{
	clear:left;
}

nav>ul>li{
	list-style: none;
}

nav>ul>li>a{
/*	display:block;*/
}

#next_prev_nav{
	overflow: hidden;
	height:17px;
}

#next_prev_nav li{
	margin-right: 2px;
	display:block;
	float:left;
	width:12px;
	height:10px;
}

#content_menus{
	overflow: hidden;
	font-family: Arial, sans-serif;
}

#content_menus li{
	display:block;
	float:left;
}


section{
	overflow: visible;
}

section>h1{
	font: 69px/59px "MisoLight", Verdana, sans-serif;
	text-transform: uppercase;
	letter-spacing: -5px;
	float:left;
	width:63px;
	height:45px;
	padding: 0px 0px 0px 2px;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

section>p{
	float:left;
	font: 12px/15px "MisoRegular", Verdana, sans-serif;
	text-transform: uppercase;
	width:200px;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

#content{
	width:100%;
	height:100%;
	border: none;
}

iframe{
	width:100%;
	height:100%;
	border: 0;
	z-index:-1;
}

.cover_rect{
	position: absolute;
	top:0;
	left:0;
	background-color: #000000;
	width:100%;
	height:100%;
	opacity:0.0;
}


footer{
	z-index:1;
}

.copyright{
	font: 9px/12px "MisoRegular", Verdana, sans-serif;
	letter-spacing: 1px;
	margin:0;
	padding: 0;
	width:250px;
	height:20px;
	position: fixed;
	top:143px;
	right:-71px;
	-webkit-transform: rotate(90deg); 
	-moz-transform: rotate(90deg);
	text-transform: uppercase;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

.author{
	font: 9px/12px "MisoRegular", Verdana, sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
	position: absolute;
	bottom: 10px;
	left: 30px;
	margin:0;
	padding: 0;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}


.author>a{
	font: 9px/12px "MisoBold", Verdana, sans-serif;
}

.author>a:link{
	text-decoration: none;
}

.author>a:hover{
	text-decoration: underline;
}
